# Dependencies
node_modules/
.pnpm-store/

# Build & Dist
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*
!.env.example

# Compact & Compiled Temporary Files
*.log
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
